<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :label => "Evento" %>
    <br>
    <div class="row">
      <div class="col-sm-5"><%= f.input :event_date, :label => "Data" %></div>
      <div class="col-sm-3"><%= f.input :start_time, :label => "Início" %></div>
      <div class="col-sm-3"><%= f.input :end_time, :label => "Término" %></div>
    </div>
    <br>
    <%= f.input :status, :label => "Status" %>
    <br>
    <%= f.hidden_field :user_id, :value => current_user.id %>

    <!--<%= f.input :type_event_id, :label => "Tipo de Serviço" %>-->
    <label>Tipo de Serviço</label><br>
    <%= f.select(:type_event_id, TypeEvent.all.collect {|a| [a.name, a.id]}) %>
    <br><br>
    <!--<%= f.input :resource_id, :label => "Atendido Por" %>-->
    <label>Atendido Por</label><br>
    <%= f.select(:resource_id, Resource.all.collect {|a| [a.name, a.id]}) %>
  </div>

  <br><br>

  <div class="form-actions">
    <div class="col-sm-6"><%= f.button :submit, :class => "botao-azul", :value => "Criar Evento" %></div>
    <div class="col-sm-6"><%= link_to 'Back', events_path, :class => "botao-amarelo btn" %></div>
  </div>
<% end %>
