<h1>Lista de Eventos</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Evento</th>
      <th>Data do Evento</th>
      <th>Horário de Inicío</th>
      <th>Horário de Término</th>
      <th>Status</th>
      <th>Cliente</th>
      <th>Tipo de Serviço</th>
      <th>Atendido Por:</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.event_date.strftime("%d/%m/%Y") %></td>
        <td><%= event.start_time.strftime("%H:%M") %></td>
        <td><%= event.end_time.strftime("%H:%M") %></td>
        <td><%= event.status %></td>
        <td><%= event.user_id %></td>
        <td><%= TypeEvent.find(event.type_event_id).name %></td>
        <td><%= Resource.find(event.resource_id).name %></td>
        <td><%= link_to 'Detalhes', event %></td>
        <td><%= link_to 'Editar', edit_event_path(event) %></td>
        <td><%= link_to 'Deletar', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agendar Novo Evento', new_event_path, :class => "botao-azul" %>
