<p id="notice"><%= notice %></p>

<p>
  <strong>Início do Expediente:</strong>
  <%= @expedient.start_time.strftime("%H:%M") %>
</p>

<p>
  <strong>Fim do Expediente:</strong>
  <%= @expedient.end_time.strftime("%H:%M") %>
</p>

<div class="col-sm-6"><%= link_to 'Editar', edit_expedient_path(@expedient), :class => "botao-azul btn" %></div>
<div class="col-sm-6"><%= link_to 'Voltar', expedients_path, :class => "botao-amarelo btn"%></div>
